.header {
  position: relative;
}

.header img {
  width: 100%;
}

.bgimg {
  position: absolute;
}

.bg {
	margin: -38% 0 0 0;
}

.header nav {
  position: absolute;
  top:0;
  display: flex;
  width: 100%;
	padding: 0 20px;
  margin-top: 20px;
}

nav .title {
  font-size: 36px;
  padding-left: 25px;
}


nav .list {
  position: absolute;
  right: 75px;
}

nav .list a {
	font-size: 24px;
	line-height: 32px;
  display: inline-block;
	padding: 0 20px;	
}

.navbar a {
  text-decoration: none;
	color: white;
}

/* 麵包削 */
.path {
	display: flex;
	padding:5px 20px;
	margin-left: 10%;
}


.path li {
	padding: 6px 10px;
	position: relative;
	color: grey;
	font-size: 24px;
}

.path li + li::before {
	content: ">";
	color:grey;
	position: absolute;
	left: -5px;
}

/* 下方區塊 */
.main_title {
	font-size: 48px;
	color: #FF650F;
	padding:0px 30px;
	margin-left: 10%;
}

.banner img{
	margin-top: 30px;
	width: 100%;
}

.describe {
	display: flex;
	width: 960px;
	flex-direction: column;
	margin: auto;
}

.describe h3 {
	font-size: 24px;
	margin-top: 50px;
	/* padding:5px 30px;
	margin: 5px 0px; */
}

.describe p {
	margin-top: 16px;
	margin-bottom: 40px;
}

/* recommend區塊 */


.sub_title {
	width: 1280px;
	display: flex;
	margin:auto;
	/* margin: auto;沒用 */
 	/* 水平置中 */
	justify-content: center;    
	/* 垂直置中 */
	align-items: center;  
	font-size: 30px;
	color: black;
	position: relative;
	font-weight: 800;
	border: 1px solid saddlebrown;
	margin-bottom: 40px;
	
}

.more {
	border: 1px solid saddlebrown;
	border-radius: 15px;
	background-color: #FD975E;
	color: #fff;
	font-size: 26px;
	position: absolute;
	right: 10px;
	top:2%;	
}

h3 {
	border: 1px solid saddlebrown;
	font-size: 36px;
	/* align-items: center;
	justify-content: center; */
}

.wrap {
	width: 1280px;
	margin: auto;
}
	
.recommend .wrap {
	display: flex;
	
}

.recommend .wrap .item{
		width: 300px;
		margin: 0 10px;
		text-align: center;

}

.item img {
	width: 100%;
	border-radius: 15px;
}

.content {
	/* position: absolute;
	transform:  translate(-50%,-50%); */
	
}


.footer {
	text-align: center;
	background-color: #000;
	color: white;
	padding: 0 20px;
	line-height: 64px;
	font-weight: 700;
	font-size: 24px;
	margin-top: 20px;
}